body {
    display: grid;
    height: 95vh;;
    grid-template-rows: 75px 1fr;
}

.header {
    background-color: grey;
    border: black 2px solid;
    border-bottom: transparent;
}

.content {
    background-color:azure;
    border: black 2px solid;

    display: grid;
    grid-template-rows: 1fr 3fr;
}

.weather {
    background-color: red;
    width: 80%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecast {
    background-color:aquamarine;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}
