body {
    display: grid;
    height: 100vh;
    background-size:cover;

    grid-template-rows: 50px 1fr 50px;
    width: 100%;
    padding: 0;
    margin: 0;
}


.content {
    display: grid;
    grid-template-rows: 2fr 2fr;
}

.todayWeather {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(25, 25, 25, 0.5);
    padding: 10px;
    border-radius: 15px;

}

.todayWeather>.location {
    font-size: 2.5em;
}

.todayWeather>.temp {
    font-size: 3.2em;
}

.todayWeather>.condition {
    font-size: 1.5em;
}

.today {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.highLow {
    display: flex;
    font-size: 1.4em;
}

.highLow>.high {
    padding-right: 10px;
}

.highLow>.low {
    padding-left: 10px;
}

.sevenDayForecast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.sevenDayForecast>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 25vw;
    min-width: 150px;
    max-width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: min-content;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(25, 25, 25, 0.5);
    border-radius: 20px;
}

.sevenDayForecast>div>.day {
    font-size: 1.7em;
}

.sevenDayForecast>div>.condition {
    font-size: 1.2em;
}

.sevenDayForecast>div>.temp>.high {
    font-size: 1.2em;
    padding-right: 10px;
}

.sevenDayForecast>div>.temp>.low {
    font-size: 1.2em;
    padding-left: 10px;
}

.sevenDayForecast>div>.temp {
    display: flex;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.search {}